name: docker-buildimage-pac-server

on:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile'
      - 'main.go'
      - 'internal/**'
      - 'cmd/**'
      - 'gfwlist.txt'
      - 'go.mod'
      - 'go.sum'
      - 'Makefile'
      - '.github/workflows/build.yml'
      - '.github/workflows/release.yml'
      - '.github/workflows/update-gfwlist.yml'
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3.6.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
      -
        name: Login to DockerHub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWD }}
      -
        name: Login to Github Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            docker.io/gsmlg/pac-server:latest
            ghcr.io/gsmlg-dev/pac-server:latest
